<div
  class="app-input-wrapper"
  [class.error]="control().errors && control().touched"
>
  <input
    type="text"
    class="app-input__input"
    [placeholder]="placeholder()"
    [formControl]="control()"
  />

  @if (iconName()) {
    <mat-icon class="app-input__icon">{{ iconName() }}</mat-icon>
  }
</div>
@if (control().errors && control().touched) {
  <div class="app-input__error">
    @for (errorObj of control().errors | keyvalue; track $index) {
      {{ errorsMapper[errorObj.key] }}
    }
  </div>
}
