.offboarding {
  &__title {
    margin-bottom: 20px;
  }

  &__search {
    margin-right: 8px;
  }

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    position: relative;
    z-index: 1;
    max-height: calc(100vh - 320px);
    padding: 48px 8px 24px;
    box-shadow: 0px 12px 38px -15px rgba(0, 0, 0, 1);
    background-color: var(--white-color);
    overflow: auto;
  }
}

