.app-button {
  padding: 12px 38px;
  border: none;
  border-radius: 24px;
  outline: none;
  background-color: var(--brand-color);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &--secondary {
    background-color: transparent;
    color: var(--forth-color);
  }

  &:disabled {
    background-color: var(--third-color);
    pointer-events: none;
    cursor: initial;
  }
}
