:root {
  // Colors
  --brand-color: #ff9600;
  --secondary-color: #ededed;
  --third-color: #ebebeb;
  --forth-color: #a1a1a1;
  --main-bg-color: #fbfbfb;
  --dark-color: #252525;
  --white-color: #fff;
  --red-color: #d21212;
  // Colors

  // Sizes
  --header-height: 60px;
  // Sizes
}
